<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:usesCleartextTraffic="true" android:allowBackup="true" android:label="SauLife" android:supportsRtl="true" android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".pharmacy.PharmacyWebActivity"/>
        <activity android:name=".ui.profile.EditProfileActivity"/>
        <activity android:name=".ui.reminders.RemindersActivity" android:exported="false"/>
        <receiver android:name=".ui.reminders.ReminderReceiver" android:exported="false"/>
        <activity android:name=".NewsArticleActivity"/>
        <activity android:name=".RegisterActivity" android:exported="false"/>
        <activity android:name=".LoginActivity" android:exported="false"/>
        <activity android:name=".ui.notification.NotificationsActivity"/>
        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".OnboardingActivity" android:exported="false"/>
        <activity android:name=".CameraActivity" android:exported="false"/>
        <activity android:name=".ui.scanresult.ScanResultActivity" android:exported="false"/>
        <activity android:name=".ui.pharmacy.PharmacyOffersActivity" android:exported="false"/>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>